.goals {
    color: rgb(155, 23, 0);
    width: 100%;
    text-align: center;
    font: size 40px; ;
    font-family: Lato, 'sans serif'
    


}

.head01 {
font-weight: bold ;
color: rgb(139, 139, 139);
font-family: Lato, 'sanf serif'
}

.container {
    min-width: auto;
    min-height: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.überblick {
    background-size: cover;
    min-width: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("IMG_0480.jpeg");
}